<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://192.168.56.101:3306/empleados</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <property name="connection.username">admin00</property>
      <property name="connection.password">alumno</property>
    <property name="hibernate.show_sql">true</property>

    <mapping resource="Departamentos.hbm.xml"/>
      <mapping resource="Empleados.hbm.xml"/>
    <mapping resource="Localizaciones.hbm.xml"/>
      <mapping resource="HistorialTrab.hbm.xml"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>